DATABASE_URL="postgresql://super_admin:AlwaysHustling%402026@localhost:5432/astra-dev?schema=public"
OLLAMA_API_KEY=dc2c0c5206874c9c9570d1699673ec89.7QP2F53LglKwuXc0XT4I0TvI
AUTH_SECRET=astra-dev-secret-change-in-production
NEXTAUTH_URL=https://dev.astra.nerdlogics.cloud
NEXT_PUBLIC_APP_URL=https://dev.astra.nerdlogics.cloud

# AES-256 encryption key for sensitive data at rest (64 hex chars = 32 bytes)
ENCRYPTION_KEY=c47c3362e8d9359c20b9de9b3824690dba77fe5df54f10c594ce8043abd3312e

NEXT_PUBLIC_APP_NAME="Krita"
NEXT_PUBLIC_APP_TITLE="Krita Security Platform"
NEXT_PUBLIC_APP_ID="krita"
NEXT_PUBLIC_APP_DOMAIN="krita.dev"
NEXT_PUBLIC_SARIF_INFO_URI="https://github.com/astra"
